pytz
requests
python-dotenv
ipython

# Django
django=3.9
django-timezone-field 
django-cors-headers
django-debug-toolbar
whitenoise

# Django 3.0 async requirements
gunicorn
uvicorn
uvloop
httptools

# Databases
psycopg2-binary
dj-database-url

# Distributed tasks
celery
redis
django-celery-beat=59.1.1

# Telegram
python-telegram-bot

# monitoring
sentry-sdk

# kewords
flashtext
